.filter-field-text {
    width: 350px;
}

.filter-field-date {
    width: 350px;
}

.filter-field-fixed {
    width: 350px;
}

.selected-filters-wrapper {
    margin-bottom: 20px;
}

a {
    color: #3f51b5;
}

a:hover {
    text-decoration: underline;
    color: #3f51b5;
}