.info-message {
    display: flex; 
    flex-direction: row; 
    padding: 10px;
}

.info-message-center-content {
    display: flex; 
    align-items: center; 
    justify-content: center;
}

.error {
    color: #f44336;
}

.info {
    color: #f44336;
}
