<section class="ftco-section">
  
    <div class="container">
        <div class="row justify-content-center">
            
            <mat-card class="organization-registration-complete-card">
        
                <mat-card-header>
                  
                  <mat-card-title>
                    <h2>Complete organization registration</h2>
                  </mat-card-title>
        
                  <mat-card-subtitle>
                    <app-info-message [visible]="confirmError" [type]="errorMessageType" [message]="confirmErrorMessage" />
                  </mat-card-subtitle>
        
                </mat-card-header>
        
                <mat-card-content>
    
                    <form *ngIf="tokenValid" class="form-full-width">
    
                        <mat-form-field class="form-field-full-width">
                            <mat-label>Administrator password</mat-label>
                            <input matInput name="adminPassword" [(ngModel)]="model.adminPassword" [type]="hidePassword ? 'password' : 'text'">
                            <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword">
                              <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </button>
                        </mat-form-field>
                  
                        <mat-form-field class="form-field-full-width">
                            <mat-label>Reenter password</mat-label>
                            <input matInput name="adminPasswordConfirmation" [(ngModel)]="model.adminPasswordConfirmation" [type]="hideReenterPassword ? 'password' : 'text'">
                            <button mat-icon-button matSuffix (click)="hideReenterPassword = !hideReenterPassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideReenterPassword">
                              <mat-icon>{{hideReenterPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </button>
                        </mat-form-field>

                        <button mat-raised-button color="primary" (click)="onSubmit()">Complete registration</button>
    
                    </form>
                    
                    <div *ngIf="!tokenValid">
                        Cannot complete organization registration for given token and organization
                    </div>

                </mat-card-content>
            
            </mat-card>

        </div>
    </div>

</section>
