<section class="ftco-section">
    
    <div class="form-single-row">

        <h2>Edit user</h2>
    
        <app-info-message [visible]="updateUserError" [type]="errorMessageType" [message]="updateUserErrorMessage" />
    
        <app-info-message [visible]="fetchUserError" [type]="errorMessageType" [message]="fetchUserErrorMessage" />

        <form *ngIf="!fetchUserError" class="form-full-width">
            
            <mat-form-field class="form-field-full-width">
                <mat-label>User email</mat-label>
                <input matInput name="name" disabled [(ngModel)]="model.email">
            </mat-form-field>

            <mat-form-field class="form-field-full-width">
                <mat-label>User first name</mat-label>
                <input matInput name="firstName" [(ngModel)]="model.firstName">
            </mat-form-field>

            <mat-form-field class="form-field-full-width">
                <mat-label>User last name</mat-label>
                <input matInput name="lastName" [(ngModel)]="model.lastName">
            </mat-form-field>

            <h4>Permissions</h4>

            <table style="margin-bottom: 20px;">
    
                <tr>
                    <td>                                                        
                        <mat-checkbox color="primary" name="permissionViewOrganization" [(ngModel)]="model.permissionViewOrganization">
                            View organization
                        </mat-checkbox>                                                       
                    </td>
    
                    <td>                            
                        <mat-checkbox color="primary" name="permissionManageOrganization" [(ngModel)]="model.permissionManageOrganization">
                            Manage organization
                        </mat-checkbox>                
                    </td>
                </tr>
    
                <tr>
                    <td>
                        <mat-checkbox color="primary" name="permissionViewUsers" [(ngModel)]="model.permissionViewUsers">
                            View users
                        </mat-checkbox>
                    </td>
    
                    <td>
                        <mat-checkbox color="primary" name="permissionManageUsers" [(ngModel)]="model.permissionManageUsers">
                            Manage users
                        </mat-checkbox>
                    </td>
                </tr>
            
            </table>

            <button mat-raised-button color="primary" (click)="onSubmit()">Save settings</button>
            <button mat-raised-button (click)="cancel()" style="margin-left: 20px;">Cancel</button>
            
        </form>

    </div>

</section>
