div.login-wrap {
    width: 500px;
    padding: 20px;
    margin-top: 50px;
}

div.login-additional-actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 30px;
}

.reset-password-wrap {
    display: flex;
    align-items: center;
}

.registration-wrap {
    align-self: flex-end;
    margin-left: auto;
}

.reset-password-card {
    width: 400px;
    margin-top: 50px;
}
