<h2>Thank you for using SpringBoot Angular Example Project!</h2>
<p>Follow link to complete password reset:</p>
<a href="{{link}}">Complete registration</a>
<p>
Best regards,<br/>
Your Best Team.
</p>